.footer-container {
  align-items: center;
  background-color: var(--redBackground);
  display: flex;
  height: 60px;
  justify-content: space-around;
  width: 100%;
}

.icon-drink {
  width: 40px;
}

