/* css */
.container-explore-foods {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.btn-explore-ingredient {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.185)) , url('https://images.pexels.com/photos/1435904/pexels-photo-1435904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 900;
  height: min(300px, 25vh);
  justify-content: center;
  margin-top: 2rem;
  outline: none;
  width: min(800px, 85vw);
}

.btn-explore-nationality {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.185)) , url('https://images.pexels.com/photos/346696/pexels-photo-346696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 900;
  height: min(300px, 25vh);
  justify-content: center;
  outline: none;
  width: min(800px, 85vw);
}

.btn-explore-surprise {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.185)) , url('https://images.pexels.com/photos/4397835/pexels-photo-4397835.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 900;
  height: min(300px, 25vh);
  justify-content: center;
  margin-bottom: 5rem;
  outline: none;
  width: min(800px, 85vw);
}
