.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

ul {
  background-color: rgb(222, 222, 222);
  list-style: none;
}

.startRecipe {
  bottom: 0;
  margin-left: 33%;
  position: fixed;
}

.gallery {
  max-width: 800px;
  padding: 0 10;
  position: relative;
}

.gallery_scroller {
  align-items: center;
  display: flex;
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.gallery_scroller div {
  margin: 10px;
  position: relative;
  scroll-snap-align: center;
}

img, .recipe-card > input {
  display: block;
  height: 150px;
}

.gallery_scroller img {
  border-radius: 10px;
}

.gallery_card {
  width: 170px;
}

.col-1-img {
  height: 155px;
  width: 360px;
}

.col-1-btn {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.col-1-btn > h2 {
  display: inline-block;
  margin-left: 8px;
  margin-right: 40%;
}

.col-1-btn > input {
  margin: 11px;
}

p {
  background-color: #f1f1f1;
}

.container-main-recipes {
  align-items: center;
  display: flex;
  justify-content: center;
}

.RecipeHome {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 1rem;
  width: min(800px, 90vw);
}


.recipe-card > input {
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 1px 20px #b8b8b8;
}

.recipe-card > p {
  align-items: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 20px #b8b8b8;
  color: rgba(0, 0, 0, 0.698);
  display: flex;
  font-weight: 900;
  height: 3rem;
  justify-content: center;
  margin: auto;
}
